.search-input {
    max-width: 30vw;
    margin-right: 5px;
}

.play-table {
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}

.game-over-picture {
    border: 4px solid #4e4f52;
    border-radius: 10px;
    height: auto;
    max-width: 100%;
}