{% extends "base.html" %}

{% block title %}
Топ
{% endblock %}

{% block content %}

<h3>Топ игроков</h3>


<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Login</th>
        <th scope="col">Name</th>
        <th scope="col">Points</th>
        <th scope="col">Words</th>
    </tr>
    </thead>
    <tbody>

    {% for user in users %}
    <tr>

        <th scope="row">{{ loop.index }}</th>
        <td>{{ user.login }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.points }}</td>
        <td>{{ user.guessed_count }}</td>

    </tr>
    {% endfor %}

    </tbody>
</table>


{% endblock %}