{% extends "base.html" %}

{% block title %}
Верно
{% endblock %}

{% block content %}

<div class="text-center">
    <h4>Вы отгадали слово!</h4>
    <p>Слово: {{ word }}</p>
    <p>Вы получили {{ points }} {{ points_word }}!</p>
    <p>Счёт: {{ total_words }} {{ count_word }}</p>

    <img src="{{ picture_link }}" alt="Картинка" class="game-over-picture"></br>

    <h5>
        <a type="button" class="btn btn-light" href="/play">
            Новая игра
        </a>
    </h5>
</div>
{% endblock %}